{% extends "layout.html" %}

{% block title %}
    admin
{% endblock %}

{% block main %}
        <iframe src="https://open.spotify.com/embed/playlist/0vlFkVxN2LIthqUeQQYbSj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        
        
            <div class="card text-center my-card">
                <div class="card-header">
                
                </div>
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-text current-progress-text">Mood classification</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ mood_percentage }}%;" aria-valuenow="{{ mood_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text current-progress-text">{{mood_result}}: {{ mood_percentage|floatformat:2 }}%</p>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-text current-progress-text">Emotion classification</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ emotion_percentage }}%;" aria-valuenow="{{ emotion_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text current-progress-text">{{emotion_result}}: {{ emotion_percentage|floatformat:2 }}%</p>
                        </div>
                    </div>
                </div>
            </div>
    
        
        
        
        
        
        
        
        
        <table class="table table-striped">
            <th>
                <tr>
                    <td class="table-primary">Song_Name</td>
                    <td class="table-secondary">artist</td>
                    <td class="table-success">mood</td>
                    <td class="table-danger">emotion</td>
                    <td class="table-warning">happy_value</td>
                    <td class="table-info">sad_value</td>
                    <td class="table-light">energetic_value</td>
                    <td class="table-dark">calm_value</td>
            </th>
        {% for i in range(Name|length) %}
            <tr>
                <td class="table-primary">{{Name[i]}}</td>
                <td class="table-secondary">{{artist[i]}}</td>
                <td class="table-success">{{mood[i]}}</td>
                <td class="table-danger">{{emotion[i]}}</td>
                <td class="table-warning">{{happy[i]|floatformat:2}}</td>
                <td class="table-info">{{sad[i]|floatformat:2}}</td>
                <td class="table-light">{{energetic[i]|floatformat:2}}</td>
                <td class="table-dark">{{calm[i]|floatformat:2}}</td>
              </tr>
        {%endfor%}
        </table>

{% endblock%}