{% extends "layout.html" %}

{% block title %}
    admin
{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/playlist/0vlFkVxN2LIthqUeQQYbSj" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Mood and Emotion Classification</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <h6 class="card-subtitle mb-2 text-muted">Mood: {{ mood_result }}</h6>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ mood_percentage }}%;" aria-valuenow="{{ mood_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text">{{ '%.2f'|format(mood_percentage) }}% of songs have this mood</p>
                        </div>
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted">Emotion: {{ emotion_result }}</h6>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ emotion_percentage }}%;" aria-valuenow="{{ emotion_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text">{{ '%.2f'|format(emotion_percentage) }}% of songs have this emotion</p>
                        </div>
                    </div>
                </div>
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Song Name</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Mood</th>
                            <th scope="col">Emotion</th>
                            <th scope="col">Happy Value</th>
                            <th scope="col">Sad Value</th>
                            <th scope="col">Energetic Value</th>
                            <th scope="col">Calm Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td>{{ Name[i] }}</td>
                                <td>{{ artist[i] }}</td>
                                <td>{{ mood[i] }}</td>
                                <td>{{ emotion[i] }}</td>
                                <td>{{ '%.2f' % happy[i] }}</td>
                                <td>{{ '%.2f' % sad[i] }}</td>
                                <td>{{ '%.2f' % energetic[i]}}</td>
                                <td>{{ '%.2f' % calm[i]}}</td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}